<div class="reset-wrapper">
  <button id="reset-sorting" class="reset-sorting" (click)="resetSorting()">Reset sorting</button>
</div>
<table class="holiday-table">
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let header of columnHeaders; let i = index"><button class="column-sort"
        type="button"
        [id]="'sort_by_h' + i"
        (click)="onColumnSortHandler(i, header)" >{{ header }}</button>
      <label *ngIf="currentColSort === header" class="row-asc">↓</label><label *ngIf="descColSort === header" class="row-desc">↑</label></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows; let i = index">
      <th><button class="row-sort"
        type="button"
        [id]="'sort_by_' + i"
        (click)="onRowSortHandler(i, row.rowHeader)" >{{ row.rowHeader }}</button>
        <label *ngIf="currentRowSort === row.rowHeader" class="row-asc">→</label><label *ngIf="descRowSort === row.rowHeader" class="row-desc">←</label></th>
      <ng-container *ngFor="let r of row.rowData; let j = index">
      <td>{{ r }}</td>
    </ng-container>
    </tr>
  </tbody>
</table>