.holiday-table {
  width: 50px;
  font-size: small;
  border-collapse: collapse;
}

th {
  width:0.1%;
  white-space: nowrap;
  border-style: solid;
  background-color: teal;
  color: yellow;
  border-color: skyblue;
}

td {
  width:0.1%;
  border-style: solid;
}

.row-sort {
  white-space: nowrap;
}

.column-sort {
  font-size: smaller;
  font-weight: bold;
}